.FontJerk {
    --font-family-title: sans-serif;
    --font-family-body: 'Comic Sans', sans-serif;
}

.Title {
    font-size: 32px;
    margin-bottom: 0;
    font-family: var(--font-family-title);
}

.Body {
    font-size: 18px;
    font-family: var(--font-family-body);
    line-height: 1.5;
}

.Block {
    display: block;
    width: 300px;
    height: 300px;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    border: 1px solid black;
}

.SectionFlex {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.DoggoContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 300px;
    height: 300px;
}